:root {
  --main-bg-color: #eee;
  --primary-bg-color: #202d36;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
}

.container {
  background-color: var(--main-bg-color);
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 0 5%;
}

.nav__title {
  color: var(--primary-bg-color);
}

.nav__mode {
  align-items: center;
  display: flex;
  height: 100%;
}

.nav__mode i {
  margin-right: 10px;
}

main {
  margin: 20px auto;
  width: 90%;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  height: 40px;
}

.search input {
  border: 1 px solid var(--main-bg-color);
  color: var(--primary-bg-color);
  cursor: pointer;
  outline: none;
  padding: 0 25px;
  width: 300px;
}

.search select {
  border: 1 px solid var(--main-bg-color);
  border-right: 16px solid transparent;
  color: var(--primary-bg-color);
  cursor: pointer;
  outline: none;
  padding: 0 25px;
}

.countries {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  padding-bottom: 40px;
}

.country {
  background-color: white;
  cursor: pointer;
}

.country__flag {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 150px;
  overflow: hidden;
  width: 100%;
}

.country__flag img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
  transition: 0.3s;
}

.country:hover .country__flag img {
  transform: scale(1.1);
}

.info {
  background-color: white;
  color: var(--primary-bg-color);
  font-size: 12px;
  padding: 15px;
}

.info__name {
  margin-bottom: 15px;
}

.info p {
  font-weight: 700;
}

.info p span {
  font-weight: 400;
}

.country-detail {
  background-color: var(--main-bg-color);
  margin: 0 auto;
  width: 90%;
}

.country-detail .back {
  background-color: transparent;
  box-shadow: 0 0 1px var(--primary-bg-color);
  border: none;
  cursor: pointer;
  margin: 10px 0 30px 0;
  padding: 5px 30px;
  transition: 0.25s;
}

.country-detail .back i {
  padding-right: 15px;
  transition: 0.25s;
}

.country-detail .back:hover {
  box-shadow: 0 0 3px var(--primary-bg-color);
}

.country-detail .back:hover i {
  padding-right: 2px;
}

.country-detail .info {
  background-color: var(--main-bg-color);
}

.country-detail__more {
  display: flex;
  justify-content: space-between;
  height: 250px;
}

.country-detail__more > * {
  width: 50%;
}

.country-detail__flag img {
  height: 100%;
  width: 85%;
}

.country-detail__info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.country-detail__info .info__name {
  width: 100%;
}

.country-detail__info .info__detail {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .countries {
    grid-template-columns: 1fr;
  }
}
